# Terraform 
.terraform/
*.tfstate
*.tfstate.*

# Node
**/node_modules/
npm-debug.log*

# Python
**/__pycache__/
**/.pytest_cache/
*.pyc
*.ruff*

# Env/secrets
venv/
.venv/
**/.env
**/.env.*
!**/.env.example
